<%= image_tag(attachments['logo.png'].url, :width => '150px') %>
<h1> Welcome to Piggy, <%= @user.name %> </h1>

<p> You have successfully Confirmed your email. Sign in now to your personal finances favorite app, your username is: <%= @user.email %>.</p>

<p> Thanks for joining and have a great day! </p>

